# Ignore environment config
.env

# Ignore node modules
node_modules/

# Ignore Composer vendor directory (for PHP projects)
vendor/


assets/
# Optional: macOS and Windows system files
.DS_Store
Thumbs.db
